.main-button {
  color: white;
  background-color: transparent;
  width: 50%;
  height: 3rem;
  border-width: 0.2px;
  border-radius: 50px;
  font-size: 1.1em;
  text-align: center;
}

.right-arrow {
  vertical-align: middle;
  margin-left: 1.5rem;
  max-width: 11%;
  height: auto;
}
