.main-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 8vh;
  color: white;
}

.main-nav__section--width-60 {
  width: 60rem;
  text-align: end;
  padding-right: 7rem;
}

.main-nav__section--width-40 {
  width: 40rem;
  padding-left: 10rem;
}