.left-navigation-button {
  color: white;
  background-color: transparent;
  width: 4rem;
  height: 3rem;
  border: none;
  /* margin-left: 5rem; */
  background-image: url('left.png');
  background-position: center;
  background-size: cover;
  transition: transform 150ms ease-in-out;
}

.left-navigation-button:hover {
  transform: scale(1.4);
}