.right-navigation-button {
  color: white;
  background-color: transparent;
  width: 4rem;
  height: 3rem;
  border: none;
  text-align: center;
  margin-left: 63rem;
  background-image: url('right.png');
  background-position: center;
  background-size: cover;
  transition: transform 150ms ease-in-out;
}

.right-navigation-button:hover {
  transform: scale(1.4);
}